.hero {
  position: relative;
  height: 256px;
  overflow: hidden;

  background-image: url('./images/wide_uber_light.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 85% 75%;
}

.hero__inner {
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding: 40px 24px;
}

.hero__contentbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;

  max-width: 308px;
  z-index: 1;
}

.hero__title {
  margin: 0;
  font-family: Pretendard;
  font-size: 28px;
  font-weight: 700;
  line-height: 140%;
  color: #000;
}
@media (min-width: 850px) {
  .hero__title {
    font-size: 38px;
  }
}
@media (min-width: 1680px) {
  .hero__title {
    font-size: 50px;
  }
}

.hero__desc {
  margin: 0;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #000;
}

.hero_btn {
  display: inline-flex;
  align-items: center;
  padding: 16px 24px;
  background: #000;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.hero_btn-icon {
  width: 24px;
  height: 24px;
  flex: 0 0 24px;

  background-image: url('images/button_icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hero_btn-text {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

@media (min-width: 850px) {
  .hero {
    height: 450px;
    background-image: url('./images/wide_uber_light_2x.png');
    background-position: 65% 60%;
  }

  .hero__inner {
    padding: 78px 56px;
  }

  .hero__contentbox {
    max-width: 452px;
  }
}

@media (min-width: 1680px) {
  .hero {
    background-position: 70% 60%;
  }
}
