.container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 40px 24px;
  min-height: 360px;
}

.inner {
  position: relative;
  z-index: 2;
}

.p {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

.wrapper {
  width: 120px;
  background: black;
  display: flex;
  align-items: center;
  padding: 16px 24px;
  z-index: 5;
}

.download {
  border: none;
  background: black;
  color: white;
}

.taxi {
  width: 520px;
  height: 280px;
  background-image: url(./images/UberTaxi.png);
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
}
